<%- include("partials/header2"); -%>

<form action="/changePassword" method="POST">
	<div class="signIn">
        <h1 class="h3 mb-3 fw-normal">Change Password</h1>
		<div class="form-floating">
			<input
				type="password"
				class="form-control top"
				id="floatingPassword"
				placeholder="Current Password"
				name="old"
				required
			/>
			<label for="floatingPassword">Current Password</label>
		</div>
        <div class="form-floating">
			<input
				type="password"
				class="form-control middle"
				id="floatingPassword"
				placeholder="New Password"
				name="new"
				required
			/>
			<label for="floatingPassword">New Password</label>
		</div>  
		<div class="form-floating">
			<input
				type="password"
				class="form-control bottom"
				id="floatingPassword"
				placeholder="Confirm Password"
				name="confirm"
				required
			/>
			<label for="floatingPassword">Confirm Password</label>
		</div>
		<button class="w-100 btn btn-lg btn-primary" type="submit">Save changes</button>
        <div class="forgotLink">
			<a href="/forgotPassword" class="forgotLink">Forgot Password?</a>
		</div>
		<p style="margin-top: 20px; color: red;"><%=message%></p>
</form>

<%- include("partials/footer2"); -%>
