<%- include("partials/header2"); -%>

<form action="/forgotPassword" method="POST">
	<div class="signIn">
        <h1 class="h3 mb-3 fw-normal">Change Password</h1>
        <div class="form-floating">
			<input
				type="password"
				class="form-control middle"
				id="floatingPassword"
				placeholder="New Password"
				name="new"
				required
			/>
			<label for="floatingPassword">New Password</label>
		</div>  
		<div class="form-floating">
			<input
				type="password"
				class="form-control bottom"
				id="floatingPassword"
				placeholder="Confirm Password"
				name="confirm"
				required
			/>
			<label for="floatingPassword">Confirm Password</label>
		</div>
        <input type="hidden" name="forgotPage" value="1">
        <input type="hidden" name="username" value="<%= username %>">
		<button class="w-100 btn btn-lg btn-primary" type="submit">Save changes</button>
		<p style="margin-top: 20px; color: red;"><%=message%></p>
</form>

<%- include("partials/footer2"); -%>
